ID=1
LOG_FILE=/home/utnso/log_team1.txt
IP_BROKER=127.0.0.1
PUERTO_BROKER=6001
CANTIDAD_DE_REINTENTOS_CONEXION=1


LOG_FILE=/home/utnso/Escritorio/team.log
POSICIONES_ENTRENADORES=[1|3,2|3,2|2]
POKEMON_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Onix,Squirtle|Gengar]
TIEMPO_RECONEXION=5
RETARDO_CICLO_CPU=0
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=0
ESTIMACION_INICIAL=5